body{
    font-family: arial, 'Courier New', Courier, monospace;
    margin-top: 100px;
}

header, #copyright{
    text-align: center;
}
header, footer{
    background-color: #eeeeee;
}
header{
    padding-top: 2px;
    padding-bottom: 2px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

section, footer{
    padding: 2px 10px;

}

ul{
    margin: 0;
}

#position{
    font-size: 18px;
    font-weight: bold;
    
}

.summary{
    font-size: 16px;
    line-height: 20px;
}
h1{
    font-size: 28px;
    text-transform: capitalize;
}

h2{
    color: #2f5a78;
    font-size: 20px;
    border-bottom: 1px solid #2f5a78;
    padding-bottom: 2px;
}

li{
    margin-bottom: 5px;
    color: #e99f4b;
     list-style-type: circle;
}

li b{
    color: #2f5a78;
   
}

table{
    border-collapse: collapse;
    /* text-align: center; */
}

th{
    background-color: #2f5a78;
    color: #ffffff;
    text-align: center;    
}
td, th{
    border: 1px solid #000000;
    padding: 5px;
}
tr:nth-child(even) {
    color: #b0d1e4;

}
tr:nth-child(odd) {
    color: #6aabd1;
}

footer a {
    color: #e99f4b;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer li {
    color: #2f5a78;
    list-style-type:circle ;
}

input[type='text'], input[type='email'] {
  border: 1px solid #2F5A78;
  width: 150px;
  padding: 5px;
  margin-bottom: 5px;
}
textarea {
  border: 1px solid #2F5A78;
  width: 203px;
  padding: 5px;
  margin-bottom: 5px;
}
label {
  font-weight: bold;
  color: #2F5A78;
}
input[type='submit'] {
  background-color: #2F5A78;
  border: none;
  border-radius: 7px;
  padding: 7px 15px;
  font-weight: bold;
  color: white;
  margin-bottom: 7px;
} 

.summary img{
    float: right;
    transition: transform 1s ease;
}

.summary img:hover{

    transform:scale(1.3);
}

