body{
    font-family: arial, 'Courier New', Courier, monospace;
}
header, #copyright{
    text-align: center;
}
header, footer{
    background-color: #eeeeee;
}
header{
    padding-top: 2px;
    padding-bottom: 2px;
}

section, footer{
    padding: 2px 10px;

}

ul{
    margin: 0;
}

li b{
    color: #2f5a78;
}

li{
    margin-bottom: 5px;
}



#position{
    font-size: 18px;
    font-weight: bold;
    
}

.summary{
    font-size: 16px;
    line-height: 20px;
}
h1{
    font-size: 28px;
    text-transform: capitalize;
}

h2{
    color: #2f5a78;
    font-size: 20px;
    border-bottom: 1px solid #2f5a78;
    padding-bottom: 2px;
}



